
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPlayerLabel" translate="basketballOauth2App.player.home.createOrEditLabel">Create or edit a Player</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.player.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.player.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="basketballOauth2App.player.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.player.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="basketballOauth2App.player.baskets" for="field_baskets">Baskets</label>
            <input type="number" class="form-control" name="baskets" id="field_baskets"
                    ng-model="vm.player.baskets"
                    required min="0" />
            <div ng-show="editForm.baskets.$invalid">
                <p class="help-block"
                    ng-show="editForm.baskets.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.baskets.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.baskets.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="basketballOauth2App.player.rebounds" for="field_rebounds">Rebounds</label>
            <input type="number" class="form-control" name="rebounds" id="field_rebounds"
                    ng-model="vm.player.rebounds"
                    required min="0" />
            <div ng-show="editForm.rebounds.$invalid">
                <p class="help-block"
                    ng-show="editForm.rebounds.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.rebounds.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.rebounds.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="basketballOauth2App.player.assists" for="field_assists">Assists</label>
            <input type="number" class="form-control" name="assists" id="field_assists"
                    ng-model="vm.player.assists"
                    required min="0" />
            <div ng-show="editForm.assists.$invalid">
                <p class="help-block"
                    ng-show="editForm.assists.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.assists.$error.min" translate="entity.validation.min" translate-value-min="0">
                    This field should be more than 0.
                </p>
                <p class="help-block"
                    ng-show="editForm.assists.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="basketballOauth2App.player.fieldPosition" for="field_fieldPosition">Field Position</label>
            <select class="form-control" name="fieldPosition" ng-model="vm.player.fieldPosition" id="field_fieldPosition" required>
                <option value="PointGuard" translate="basketballOauth2App.PlayerPositions.PointGuard">PointGuard</option>
                <option value="ShootingGuard" translate="basketballOauth2App.PlayerPositions.ShootingGuard">ShootingGuard</option>
                <option value="SmallForward" translate="basketballOauth2App.PlayerPositions.SmallForward">SmallForward</option>
                <option value="PowerForward" translate="basketballOauth2App.PlayerPositions.PowerForward">PowerForward</option>
                <option value="Center" translate="basketballOauth2App.PlayerPositions.Center">Center</option>
            </select>
            <div ng-show="editForm.fieldPosition.$invalid">
                <p class="help-block"
                    ng-show="editForm.fieldPosition.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="basketballOauth2App.player.birthdate" for="field_birthdate">Birthdate</label>
                <div class="input-group">
                    <input id="field_birthdate" type="text" class="form-control" name="birthdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.player.birthdate" is-open="vm.datePickerOpenStatus.birthdate"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.birthdate.$invalid">
                <p class="help-block"
                    ng-show="editForm.birthdate.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="basketballOauth2App.player.team" for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" ng-model="vm.player.team" ng-options="team as team.name for team in vm.teams track by team.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
